@import "../archivosSCSS/variables";
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    header{
        img{
            width: 100%;
            height: 100vh;
            overflow: hidden;
            position: fixed;
            z-index: -10;
        }
        div{
            width: 100%;
            height: 100vh;
            background-color: rgba(255, 255, 255,.4);
            
        }  
        .uno{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(6, 6, 6,.4);
        }
        p{
            position: fixed;
            color: $colorTexto;
        }
        #pUno{
            font-size: $tamanoFuente + 5;
            font-family: $fuenteMoonrocks;
            margin-top: -100px;
        }
        #pDos{
            font-size: $tamanoFuente * 2;
        }
        #EnlaceAlMenu{
            margin-top: 80px;
            background-color:  darken($color: rgba(255, 253, 253, 0.486), $amount: 0);
            padding: 10px;
            border-radius: 10px;
            transition: .3s;
            &:hover{
                background-color: darken($color: #000000, $amount: 0);
            }
            a{
                text-decoration: none;
                color: $colorTexto;
                font-size: $tamanoFuente +.2;
                border-bottom: 2px solid white;
            }
        }
        /*------estilos de la pagina menu.html*/
        .dos{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(255, 253, 253,.4);
        }
        
    }
}