@import "../archivosSCSS/variables";
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*linear-gradient(45deg, rgba(249, 244, 244,.6)30% , rgba(252, 254, 255,.8) ),url(../img/fondo3.jpeg)*/
body{
    header{
        img{
            width: 100%;
            height: 100vh;
            overflow: hidden;
            position: fixed;
            z-index: -10;
        }
        div{
            width: 100%;
            height: 100vh;
            border: 5px solid white;
        }  
        .uno{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(6, 6, 6,.4);
            
            #pUno{
                color: $colorTexto;
                font-size: $tamanoFuente + 5;
                font-family: $fuenteMoonrocks;
            }
            #pDos{
                color: $colorTexto;
                font-size: $tamanoFuente * 2;
            }
        }
        .dos{
            background-color: rgb(255, 255, 255);
            opacity: .6;

        }
    }
}