@charset "UTF-8";
/*------mapget----*/
/*---Fuentes-----*/
/*--tamaños de fuente----*/
@media screen and (min-width: 300px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /*-----estilos del index----*/
  .cajaMenu {
    background-image: linear-gradient(45deg, rgba(133, 238, 123, 0.3) 10%, rgba(180, 219, 238, 0.7));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  .cajaMenu #uno {
    font-size: 3.8em;
    font-family: "Rubik Moonrocks", cursive;
    color: black;
  }
  .cajaMenu #dos {
    font-size: 1.1em;
    font-family: "Finlandica", sans-serif;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
  }
  .cajaMenu #enMenu {
    padding: 10px;
    font-size: 1em;
    border-radius: 15px;
    margin-top: 30px;
    background-color: black;
    border: none;
  }
  .cajaMenu #enMenu a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 8px;
  }
  /*---------footer---------*/
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100vw;
    height: 8vh;
    position: absolute;
    margin-top: -8vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: 40px;
            backdrop-filter: 40px;
  }
  footer div {
    width: 100vw;
  }
  footer div p {
    font-size: 1.2em;
    text-align: center;
    color: white;
    letter-spacing: 4px;
  }
  footer div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 8px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer div ul li {
    list-style: none;
  }
  footer div ul li a {
    color: white;
  }
  footer div ul li i {
    -webkit-transition: .5s;
    transition: .5s;
  }
  footer div ul li i:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  /*--------MENU---------*/
  .menuNav {
    margin-top: 10px;
    border-bottom: 1px solid black;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menuNav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menuNav div form input {
    border: 1px solid black;
  }
  .menuNav div form button {
    background-color: white;
  }
  .menuNav div form button i {
    color: black;
  }
  .menuNav div button {
    background-color: white;
  }
  .menuNav div button a {
    color: black;
  }
  .menuNav ul {
    margin: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menuNav ul span {
    border-bottom: 1px solid black;
  }
  .menuNav ul li {
    font-size: .7em;
    list-style: none;
    margin: auto;
  }
  .menuNav ul li a {
    color: black;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .menuNav ul li a:hover {
    border-bottom: 1px solid black;
  }
}
/*# sourceMappingURL=style.css.map */