@import "../archivosSCSS/variables";
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
@media screen and (min-width:1000px) {
    
body{
    overflow: hidden;
    display: grid;
        grid-template-columns: 20% 75%;
        column-gap: 30px;
        grid-template-rows: auto;
        grid-template-areas: 
        "navbar  contenido ";
        img{
            width: 100%;
            height: 100vh;
            overflow: hidden;
            position: fixed;
            z-index: -10;
        }
        div{
            width: 100%;
            height: 100vh;
        }  
        .uno{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(6, 6, 6,.4);
        }
        #p{
            position: fixed;
            color: $colorTexto;
        }
        #Uno{
            font-size: $tamanoFuente + 5;
            font-family: $fuenteMoonrocks;
            margin-top: -100px;
        }
        #Dos{
            font-size: $tamanoFuente * 2;
        }
        #EnlaceAlMenu{
            margin-top: 80px;
            background-color:  darken($color: rgba(255, 253, 253, 0.486), $amount: 0);
            padding: 10px;
            border-radius: 10px;
            transition: .3s;
            &:hover{
                background-color: darken($color: #000000, $amount: 0);
            }
            a{
                text-decoration: none;
                color: $colorTexto;
                font-size: $tamanoFuente +.2;
                border-bottom: 2px solid white;
            }
        }
        /*------estilos de la pagina menu.html*/
        .dos{
            grid-area: navbar;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        /*-------estilos para nav del menu--------*/
        
        .content-nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(255,255,255,.2);
            backdrop-filter:blur(6px) ;
            border: 4px solid rgba(255,255,255,.5);
            border-radius:10px ;
            margin-left: 10px;
            width: 100%;
            height: 97vh;
            h1{
                margin:20px auto 20px auto;
                font-size: $tamanoFuente + 2em;
                font-family: $fuenteMoonrocks;
                color: $blue;
            }
            #subtitle{
                display: inline-block;
                margin-top: 0px;
                font-size: $tamanoFuente +.3;
                font-family: $fuenteTitillium;
                padding: 10px;
                border-radius: 10px;
                color: $colorTextoD;
                background-color: rgba(255,255,255,.6);
                backdrop-filter: 40px;            }
            nav{
                height: auto;
                ul{
                    display: flex;
                    flex-direction:column ;
                    justify-content: center;
                    align-items: center;
                    li{
                        border-radius: 50%;
                        margin-top: 30px;
                        margin-bottom: 30px;
                        margin-left: -30px;
                        list-style: none;
                        width: 100px;
                        height: 100px;
                        background-color: rgba(255,255,255,.3);
                        backdrop-filter: 10px;
                        cursor: pointer;
                        
                        a{
                            border-radius: 50%;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100px;
                            height: 100px;  
                            color: $colorTextoD;
                            font-size: $tamanoFuente + 2;
                            transition: .5s;
                            &:hover{
                                background-color: white;
                                color: rebeccapurple;
                            }
                        }
                    }

                }
            }
            #nuestroServicios{
                width: 70%;
                height: 30px;
                padding: 5px ;
                text-align: center;
                border-radius: 5px;
                background-color: rgba(191, 234, 236, 0.6);
                backdrop-filter: 40px; 
                transition: .5s;
                &:hover{
                        transform: scale(1.1);
                    }
                a{
                    color: $blue;
                    text-decoration: none;
                    font-family: $fuenteMoonrocks;
                    transition: .5s;
                   
                }
            }

            .iconRedes{
                margin-top: 50px;
                width: 90%;
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    li{
                        margin: auto;
                        list-style: none;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%; background-color: rgba(255, 255, 255, 0.6);
                            backdrop-filter: 40px;
                            text-decoration: none;
                            font-size: $tamanoFuente +.3;
                            color: $colorTextoD;
                            transition: .5s;
                            &:hover{
                                background-color: rgba(27, 155, 224, 0.477);
                                color:rgb(255, 255, 255);
                            }
                        }
                    }
                }
            }
        }
    
}
.contenidoProductos{
    grid-area: contenido;

    width: 100%;
    height: 95vh;
    margin: auto;
    display: flex;
    flex-direction: column; 
    border-radius: 10px;
    /*-------parte del menu dos*/
    .menuDos{
        width: 95%;
        height: 15%;
        margin: 10px auto;
        background-color: rgba(255,255,255,.2);
        backdrop-filter:blur(2px) ;
        border: 4px solid rgba(255,255,255,.7);
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        div{
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 10px;
            align-items: center;
            p{
                font-size: $tamanoFuente +1;
                font-family: $fuenteTitillium;
                color: $colorTextoD;
                font-weight: bold;
            }
            ul{
                display: flex;
                flex-direction: row;
                width: 80%;
                margin-bottom: 20px;
                margin-top: 20px; 
                background-color: rgba(255,255,255,.5);
                backdrop-filter: 10px;
                border-radius: 5px;
                li{
                    list-style: none;
                    margin: 5px auto ;
                    
                    a{
                        text-decoration: none;
                        font-family: $finland;
                        border-radius: 5px;
                        color: $blueO;
                        transition: .5s;
                        padding: 4px;
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.734);
                        }
                    }
                }
            }
        }
        .searhAndshoping{
            width: 30%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-around;
            a{
                padding: 10px;
                i{
                    font-size: $tamanoFuente + .8;
                    color: $blueO;
                }
            }
            form{
                padding: 5px;
                background-color: rgba(255, 253, 253, 0.486);
                border-radius: 5px;
                label{
                    input{
                        background-color: rgba(255, 253, 253, 0.486);
                        font-size: 1rem;
                        margin: auto;
                    }
                    i{
                        color: $colorTextoD;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .productos{
        overflow: hidden;
        width: 95%;
        height: 80%;
        margin: 10px auto;
        background-color: rgba(255,255,255,.2);
        backdrop-filter:blur(2px) ;
        border: 4px solid rgba(255,255,255,.7);
        border-radius: 10px;
       .cajas{
            width: 100%;
            height: 100%;
       }
        ul{
            li{
                margin: 0;
                padding: 0;
            }
        }
        /*--------estilos para el contenido o articulos-----*/
        .Dliquido{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .articulo{
                margin-top: 5px;
                margin-left: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 18%;
                height: 20%;
                background-color: rgba(255, 255, 255, 0.816);
                backdrop-filter:blur(2px) ;
                border: 4px solid rgba(255,255,255,.7);
                border-radius: 10px;
                .artiImagen{
                    border: 1px solid rgb(255, 10, 10);
                    width: 90%;
                    height: 60%;
                    background-color: rgba(255,255,255,.2);
        backdrop-filter:blur(2px) ;
        border: 4px solid rgba(255,255,255,.7);
        border-radius: 10px;
                    img{
                        
                        position: relative;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .info{
                    width: 90%;
                    height: 35%;
                    display: flex;
                    flex-direction: column;background-color: rgba(255,255,255,.2);
                    backdrop-filter:blur(2px) ;
                    border: 4px solid rgba(255,255,255,.7);
                    border-radius: 10px;
                    p{
                        font-size: 1rem;
                        font-family: $finland;
                        text-align: center;
                    }
                    .opcion{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        p{
                            i{
                                color: $blueO;
                            }
                        }
                    }
                }

            }
            
        }
        .Dpolvo{
            background-color: #ffffff;

        }
        .cloro{
            background-color: #ffffff;

        }
        .fabuloso{
            background-color: #ffffff;

        }
    }
    
    
}

}

