@import "../archivosSCSS/variables";
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*linear-gradient(45deg, rgba(249, 244, 244,.6)30% , rgba(252, 254, 255,.8) ),url(../img/fondo3.jpeg)*/
body{
    header{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;
        div{
            width: 100%;
            height: 100%;
            background-image: linear-gradient(45deg, rgba(0,0,0,.5)30%,rgba(0,0,0,.5)), url(../imagenes/fondo.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid black;

            display: flex;
            align-items: center;
            justify-content: center;

            p{
                color: $colorTexto;
                font-family: $fuenteMoonrocks;
                font-size: $tamanoFuente + 6em;
            }
        }
        .contenido{
            position: absolute;
            width: 50%;
            height: 100vh;
            border: 1px solid wheat;
            z-index: -10;
        }
    }
}