@import "../archivosSCSS/variables";

@media screen and(min-width: 1000px) {*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /*-----estilos del index----*/
    .cajaMenu{
        background: linear-gradient(45deg,rgb(228,228,228) 10%, rgb(36, 207, 241) 69%);
        display: flex;
        justify-content: center;
        align-items: center;
        width:100vw; 
        height: 100vh;
        border: 1px solid red;
        text-align: center;
        #uno{
            font-size: $tamanoFuente + 7em;
            font-family: $fuenteMoonrocks;
            color: $blueO;
        }
        #dos{
            font-size: $tamanoFuente + 1;
            font-family: $finland;
        }
        #enMenu{
            padding: 10px;
            border: 2px solid $blueO;
            font-size: $tamanoFuente;
            border-radius: 5px;
            margin-top: 30px;
            background-color: $blue;
            a{
                text-decoration: none;
                color: $colorTexto;
               
            }
            
        }
    }
}