@import "../archivosSCSS/variables";

@media screen and(min-width: 300px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
    /*-----estilos del index----*/
    
    .cajaMenu{
        background-image:linear-gradient(45deg, rgba(133, 238, 123, 0.3)10% , rgba(180, 219, 238, 0.7) );
        display: flex;
        justify-content: center;
        align-items: center;
        width:100vw; 
        height: 100vh - 7vh;
        text-align: center;
        
        #uno{
            font-size: $tamanoFuente + 2.8em;
            font-family: $fuenteMoonrocks;
            color: black;
        }
        #dos{
            font-size: $tamanoFuente + .1 ;
            font-family: $finland;
            font-weight: bold;
            color: rgb(0, 0, 0);
            letter-spacing: 2px;
        }
        #enMenu{
            padding: 10px;
            font-size: $tamanoFuente;
            border-radius: 15px;
            margin-top: 30px;
            background-color: rgb(0, 0, 0, );
            border: none;
            outline: none;

            a{
                text-decoration: none;
                color: $colorTexto;
                letter-spacing: 8px;
               
            }
            
        }
    }

    /*---------footer---------*/
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: 8vh;
        position: absolute;
        margin-top: -8vh;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: 40px;
       div{
           width: 100vw;
           p{
               font-size: 1.2em;
               text-align: center;
               color: white;
               letter-spacing: 4px;
           }
          ul{
              display: flex;
              flex-direction: row;
              margin-top: 8px;
              justify-content: space-evenly;

              li{
                  list-style: none;
                  a{
                      color: white;
                  }
                  i{
                      transition: .5s;
                    &:hover{
                        transform: scale(1.5);
                    }
                  }
              }
          }
       }

    }
    /*--------MENU---------*/
    .menuNav{
        position: fixed;
        width: 100vw;
        height: 15vh;
        border-bottom: 1px solid black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.925);
        backdrop-filter: 20px;
        div{
            margin-top:20px ;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            form{
                input{
                    border-radius: 20px; 
                    outline: none;
                }   
                .search{
                    background-color: white;
                    border: none;
                    margin-left: 5px;
                    font-size: 1.3rem;
                        i{
                            color: black;
                            
                        }
                    }
            }
            .shopping{
                background-color: #000000;
                border: none;
                transition: .5s;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                &:hover{
                    transform: scale(1.2);
                }
                a{
                    
                    color: rgb(255, 255, 255);
                }
                
            }
        }
        ul{
            margin: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            span{
                border-bottom: 1.5px solid rgb(40, 170, 193);
            }
            li{
                font-size: .7em;
                list-style: none;
                margin: auto;
                a{
                    text-align: center;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    transition: .5s;
                    &:hover{
                    border-bottom: 1px solid black;
                }
                }
            }
        }
    }
    .content-navdos{
        position: fixed;
        margin-top: 15vh;
        width: 100vw;
        height: 4vh;
        background-color: rgba(255, 255, 255, 0.925);
        backdrop-filter: 20px;
        border-bottom: 1px solid black;
        overflow: scroll;

        .navdos{
            display: flex;
            flex-direction: row;
            padding: auto;
            width: 200%;  
            overflow-x: scroll;
            a{
                margin: auto;
                height: 100%;
                padding: 5px;
                font-size: .8em;
                text-decoration: none;
                color: black;
                width: auto;
                &:hover{
                    background-color: #f0f0f0;
                }
            }
            
        }
        
        
    }
    
    .articulos{
        z-index: -10;
        position:absolute;
        width: 100vw;
        height: auto;
        margin-top: 20vh;

        
        .secART{
            overflow: hidden;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .nombre-cate{
                background-color: black;
                color: white;
                padding: 3px 15px;
                border-radius: 30px;
                position: absolute;
            }
            .content-image{
                width: 40%;
                margin: 40px auto;
                img{
                    width: 100%;
                    height: auto;

                }
                .description{
                    display: flex;
                    flex-direction: column;
                    p{
                        font-size: .6em;
                    }
                    a{
                        background-color: red;
                        i{
                            font-size: 1rem;
                            color:white;
                        }
                    }
                }
            }

        }

    }
    /*-------------Quimicos------*/
   

}