$colorTexto:#fff;
$colorTextoD:#6bbe12;
$blue:#126ce18a;
$blueO:#126ce1eb;
/*------mapget----*/

$colorIconMAO:(colorU:rgba(114, 182, 221, 0.5),colorD:rgba(189, 114, 221, 0.5),colorT:rgba(128, 221, 114, 0.5));

/*---Fuentes-----*/
$finland: 'Finlandica', sans-serif;;
$fuenteMoonrocks: 'Rubik Moonrocks', cursive;
$fuenteTitillium: 'Titillium Web', sans-serif;
/*--tamaños de fuente----*/
$tamanoFuente:1em;
